#header #header-right {
    float: right;
}

img {
display: inline-block;
height: auto;
max-width: 100%;
}

#header #header-right {
    /*margin-top: 20px;*/
    /*margin-right: 10px;*/
    margin: -15px 0 0 30px;
}

#header #account {
	float: right;
	align-items: right;
    margin: -15px 0 0 30px;
}

#header #custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    align-items: right}

#header #custom-search-input input{
    border: 0;
    box-shadow: none;
}

#header #custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#header #custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#header #custom-search-input .glyphicon-search{
    font-size: 23px;
}