<div class="center-body" >
		 <div class="card">
  			<img src="img_avatar.png" alt="Book image" style="width:100%">
  			<div class="container" href="">
    			<!-- 	<h4><b>English</b></h4> -->
    			<p>Subject: {{Subject}}</p>
    			<p>Price: {{Price}}</p>
    			<p>Author: {{Author}}</p>
    			<button class="btn btn-primary"><span class="glyphicon glyphicon-shopping-cart"> </span>Buy</button>
  			</div>