<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- <title>signup page</title> -->
	<style type="text/css">
		img {height: 3cm;width: 4cm;}
		.button{text-align: center;
				background-color: #1a96d6;
				padding: 15px 32px;}
		table th{padding: 2px;
				/*border: 1px solid black;*/
				}/*border-style: solid;}*/

	</style>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  
  </head>
  <body>
    {{{body}}}
  </body>
</html>
