<!DOCTYPE html>
<html>
<head>
    <title>login page</title>
    <style type="text/css">
        img {width: 4cm;
            height: 3cm;}
        .button {background-color: #1a96d6;
                padding: 15px 32px;}
    </style>
</head>
<form action="/p" method="post"> 
    <img align="center" src="images/logo.jpg" alt="site logo">
<table align="center">
    <tr>
        <th><label><b></b></label></th>
        <th><input type="text" placeholder="Enter username" name="username" id="username"></th>
    </tr>
    <tr>
        <th><label><b></b></label></th>
        <th><input type="text" placeholder="Enter Email" name="email" id="email"></th>
    </tr>
    <!-- <tr>
        <th><label><b></b></label></th>
        <th><input type="password" placeholder="Enter password" name="password" id="password"></th>
    </tr> -->
    
    <tr>
        <th><label><b></b></label></th>
        <th><input type="text" placeholder="Enter address" name="address" id="address"></th>
    </tr>
    <tr>
        <th><label><b></b></label></th>
        <th><input type="text" placeholder="Enter phone no." name="phone" id="phone"></th>
    </tr>
    
</table>
<div align="center">
    <input type="submit" class="button" value="Post" id="pad">
</div>
</form>